/SocialN-backend/node_modules
/SocialN-backend/.env
/SocialN-backend/nft.jpg
/SocialN-backend/password.txt
/client/node_modules
/TecqN-backend/node_modules
/TecqN-client/node_modules
/TecqN-backend/.env
/TecqN-backend/password.txt
/TecqN-mobile/node_modules
/TecqN-mobile/.gitignore